@import './__colours.css';
@import './__fonts.css';






/* colour pallette */
:root{
    --darkBlue: #171F38;
    --lightDarkBlue: #212B50;
    --purple: #58375F;
    --cyan: #068B92;
    --yellow: #E8D17D;
    --pink: #AC496F;
    --blush: #FAEFF4;
    --white: #FFFFFF;
}