:root{
    /* colour palette */
    --dark: #171F38;
    --light: #FAEFF4;
    --grey: #868e96;
    --darkBlue: #212B50;
    --purple: #58375F;
    --cyan: #068B92;
    --yellow: #E8D17D;
    --pink: #AC496F;
}

/*==========================
    OVERALL
============================*/
*,*::before,*::after{
    box-sizing:border-box
}

body, html{
    width: 100%;
    height: 100%;
}

html{
    scroll-behavior: smooth;
}

body{
    margin:0;
    font-family: 'Montserrat', sans-serif;
    background: var(--light);
    color: var(--dark);
    -webkit-text-size-adjust: 100%;
}

section{
    padding: 120px 0px;
}

div{
    text-align:center !important;
    margin-bottom: 20px;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 3rem;
    margin: 0px;
    margin-bottom: 20px;
}

h3{
    font-size: 3rem;
    margin: 0px;
    margin-bottom: 5px;
}

p, figure, form{
    font-size: 1.2rem;
    line-height: 2rem;
    margin:0px 0px 30px;
}

a{
    text-decoration: none;
}

/*==========================
    LAYOUT
============================*/
.auto-margin{
    margin-top:auto !important;
    margin-bottom:auto !important;
}

.center-text{
    width: 100%;
    text-align: center;
}

/* flexbox container */
.flex-container{
    display: flex !important;
    justify-content: center !important;
}

/* container for web content */
.content-container{
    width:100%;
    padding-right:0.75rem;
    padding-left: 0.75rem;
    margin-right:auto;
    margin-left:auto;
    border-style: none;
}
 
.row{
    display: flex;
    /* height:inherit; */
}

.column{
    float: left;
    width: 50%;
    padding: 10px;
}


/*==========================
    SCROLLBAR 
============================*/
::-webkit-scrollbar{ width: 6px; }
::-webkit-scrollbar-track{ background: var(--light); }
::-webkit-scrollbar-thumb { background: var(--cyan); }
::-webkit-scrollbar-thumb:hover { background: var(--yellow); }


/*==========================
    HEADER
============================*/
header{ height:100vh; }

header h1{
    font-family: 'Press Start 2P', serif;
    font-size: 10vw;
    padding: 30px;
    text-transform: uppercase;
    margin-top: 0px;
}

header h3{
    font-size: 1.5rem;
    text-shadow: 0px 0px 20px;
    margin-bottom: 10px;
}


/*==========================
    NAVBAR
============================*/
.nav-toggle{
    position:fixed;
    z-index:999;
    right:15px;
    top:15px;
    background:transparent;
}

.nav-overlay{
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 998;
    top: 0;
    left: 0;
    background-color: var(--dark);
    background-color: rgba(23,31,56, 0.9);
    overflow-x: hidden;
    overflow-y: hidden;
    transition:all .4s ease 0s;
    display: block;
}

.nav-overlay-content{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
}

.nav-item{
    text-decoration: none;
    font-family: 'Press Start 2P', serif;
    font-size: 1.5rem;
    display: block;
    padding: 15px;
    text-decoration:none;
    transition:all .4s ease 0s;
    color: var(--cyan);
}

.nav-item:hover, .nav-item:active{
    color: var(--yellow);
    text-shadow: 0px 0px 20px;
}


/*==========================
    TEXT
============================*/
/* pixel text */
.pix-text{
    font-family: 'Press Start 2P', serif;
    font-size: 1rem;
    text-transform: uppercase;
}

.dark-text{ color: var(--dark); }

.light-text{ color: var(--light); }

.blue-text{ color: var(--darkBlue); }

.cyan-text{ color: var(--cyan); }

.pink-text{ color: var(--pink); }

.purple-text{ color: var(--purple); }

.yellow-text{ color: var(--yellow); }

.grey-text{ color:var(--grey); }

.blockquote-footer{ font-size:1rem; }


/*==========================
    ICONS
============================*/
.icons{
    font-size: 35px;
    margin:auto;
    text-align:center;
}

.icon-circle{
    background-color:var(--light);
    height:7rem;
    width:7rem;
    border-radius:50% !important;
    margin: 16px;
    align-items: center;
    display: inline-flex;  
    justify-content: center !important;
    pointer-events: none;
}


/*==========================
    BACKGROUND
============================*/
.transparent-bg{ background: transparent; } 

.dark-bg{ background: var(--dark); }

.light-bg{ background: var(--light); }

.blue-bg{ background: var(--darkBlue); }

.cyan-bg{ background: var(--cyan); }

.pink-bg{ background: var(--pink); }

.purple-bg{ background: var(--purple); }

.yellow-bg{ background: var(--yellow); }


/*==========================
    BUTTONS
============================*/
.button{
    position: relative;
    z-index:1; 
    padding:1.25rem 2.5rem;
    margin: 20px;
    border-style: none;
    font-family: 'Press Start 2P', serif;
    font-size: 13px;
    text-decoration:none;
    text-transform: uppercase;
}


/*==========================
    CAROUSEL
============================*/
.car-column {
    padding: 10px;
    width:70%;
}

.car-control-column{
	padding: 5px;
  	width:15%;
}

.slides {
	display: none;
    margin: auto;
    height:auto;
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.prev, .next {
    cursor: pointer;
    position: relative;
    top: 50%;
    width: auto;
    font-weight: bold;
    opacity: 0.5;
    transition: 0.6s ease;
    user-select: none;   
}

.prev:hover, .next:hover {
    opacity: 1;
}

.indicator {
    cursor: pointer;
    height: 0.8rem;
    width: 0.8rem;
    margin: 0.1rem;
    opacity: 0.2;
    display: inline-block;
    transition: 0.6s ease;
}

.active, .indicator:hover {
    opacity: 1;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade { from {opacity: .2} to {opacity: 1} }
@keyframes fade { from {opacity: .2} to {opacity: 1} }


/*==========================
    FORM ITEMS 
============================*/
form{
    width: 480px;
    min-width: 50%;
}

.form-item{
    padding: padding 5px;
}

.form-ctrl{
    display:block;
    width:100%;
    padding:.3rem .7rem;
    font-size:1rem;
    line-height:1.5;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    border-width: 0px;
    border-radius: 0px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-ctrl:focus{
    outline:0;
    box-shadow: 0px 0px 20px var(--yellow);
}

textarea{
    font-family: 'Montserrat', sans-serif;
    resize: none;
}


/*==========================
  FOOTER
============================*/
footer{
    padding:0px;
}

.socials-group{
    margin-top: 30px;
    padding-left:0;
    list-style:none;
}

.socials-circle{
    height:3.5rem;
    width:3.5rem;
    border-radius:50% !important;
    margin: 10px;
    align-items: center;
    display: flex;
}

footer p{
    font-family: 'Press Start 2P', serif;
    color:var(--grey) !important;
    opacity: 1;
    font-size: 0.7rem;
    line-height: 1rem;
    padding: 10px;
    margin:0px;
}

.scroll-to-top{
    position:fixed;
    right:15px;
    bottom:15px;
    display:none;
}

/*==========================
  EFFECTS 
============================*/
.text-glow{ text-shadow: 0px 0px 20px; }

.box-glow-cyan{ box-shadow: 0px 0px 20px var(--cyan); }

.box-glow-pink{ box-shadow: 0px 0px 20px var(--pink); }

.box-glow-purple{ box-shadow: 0px 0px 20px var(--purple); }

.box-glow-yellow{ box-shadow: 0px 0px 20px var(--yellow); }

.button:hover, .button:active, .icon-circle:hover, .socials-circle:hover{ border: 3px inset var(--dark); } 


/*==========================
  RESPONSIVENESS
============================*/
@media(min-width: 576px){
    .content-container{
        max-width:540px;
    }
    .column {
        width: 100%;
    }
}
@media(min-width: 768px){
    .content-container{
        max-width:720px;
    }
    .column {
        width: 100%;
    }
}
@media(min-width: 992px){
    .content-container{
        max-width:960px;
    }
}
@media(min-width: 1200px){
    .content-container{
        max-width:1140px;
    }
}
@media(min-width: 1400px){
    .content-container{
        max-width:1320px
    }
}
@media(min-height: 1400px){
    .content-container{
        max-width:1320px
    }
}